@charset "utf-8";
    
/*MAIN.CSS*/
/*-------------------------------------------------------------------------------------------------------------------------------*/
/*This is main CSS file that contains custom style rules used in this template*/
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* Template Name: Reflex.*/
/* Version: 1.1 Updated Release*/
/* For update log, please see: http://designova.net/changelog/reflex.pdf  */
/* Build Date: 07 Oct 2014*/
/* Author: Designova.*/
/* Website: http://www.designova.net */
/* Copyright: (C) 2014 */
/*-------------------------------------------------------------------------------------------------------------------------------*/


/*--------------------------------------------------------*/
/* TABLE OF CONTENTS: */
/*--------------------------------------------------------*/
/* 01 - LAYOUT INITIALIZATION & COLOR PRESETS */
/* 02 - HEADER, INTRO & NAVIGATION */
/* 03 - COMMON ELEMENTS & TYPOGRAPHY */
/* 04 - PAGES & SECTIONS SETUP*/
/* 05 - FOOTER*/

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 01 - LAYOUT INITIALIZATION & COLOR PRESETS */
/*-------------------------------------------------------------------------------------------------------------------------------*/
html{
}
body{
    font-family: 'Open Sans', sans-serif; font-weight:300;
    overflow-x:hidden; 
}

a, a:hover, a:focus{
    text-decoration: none;
}
a:focus { 
        outline: none; 
}
.ease{
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
}
.ease:hover{
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
}
.text-center > .img-responsive{
    display: block;
    display: inline-block;
}
p {
    color: #686868;
    font-family: 'Raleway',sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
}
h1,h2,h3,h4,h5,h6{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
}
#content{
}
.container{
        width: 100%;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
}
.no-parallax{
    background-attachment: scroll !important;
}
.mast-wrap{
    opacity: 0;
}
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 02 - HEADER & NAVIGATION */
/*-------------------------------------------------------------------------------------------------------------------------------*/

.main-nav  {
    width: 100%;
    height: 100%;
     position: fixed;
     z-index: 100;

    -moz-box-shadow: 10px 1px 4px #000000;
    -webkit-box-shadow: 10px 1px 4px #000000;
    box-shadow: 10px 1px 4px #000000;




}
.nav-bg{
    height: 100%;
    background-color: #fff;
}

.main-nav-menu{
    list-style: none;
    padding: 0;
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.main-nav-menu li{
     padding: 0;
}
.main-nav-menu li a.main-nav-link{
     font-family:  "Raleway",  Arial,  Helvetica,  sans-serif;
     font-weight: 200;
     font-size: 16px;
     line-height: 16px;
     letter-spacing: 8px;
     text-decoration: none;
     text-transform: uppercase;
    -webkit-transition: all .8s linear;
       -moz-transition: all .8s linear;
        -ms-transition: all .8s linear;
         -o-transition: all .8s linear;
            transition: all .8s linear;
}
.main-nav-menu li a.main-nav-link:hover{
    -webkit-transition: all .8s linear;
       -moz-transition: all .8s linear;
        -ms-transition: all .8s linear;
         -o-transition: all .8s linear;
            transition: all .8s linear;
}
.sub-nav{
    display: none;
    padding: 20px 0 15px 0;
}
.sub-nav a{
     font-family:  "Raleway",  Arial,  Helvetica,  sans-serif;
     font-weight: 200;
     font-size: 12px;
     line-height: 20px;
     letter-spacing: 4px;
     text-decoration: none;
     text-transform: uppercase;
}
.sub-nav a:after{
    content: ' / ';
    margin-left: 3px;
    margin-right: 3px;
}
.sub-nav a:last-child:after{
    display: none;
}




.social-wrap{
    list-style: none;
    padding: 0;
    margin-top: 70px;
}
.social-wrap li{
    display: inline-block;
    margin: 0 2px;
}
.social-wrap li a > img{
    width: 24px;
    opacity: 0.2;
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
}
.social-wrap li a:hover > img{
    opacity: 1;
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
}
.credits{
    margin-top: 10px;
    font-size: 12px;
    line-height: 19px;
}
.info-button{
    position: fixed;
    bottom: 0px;
    right: 10px;
}
.info-button > a{
    opacity: 0.3;
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
}
.info-button > a:hover{
    opacity: 1;
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
}

/*Common Spacing and Padding*/

.page-section{
}
.separator-section{
    padding: 100px 0;
}
.add-top{
    margin-top: 120px;
}
.add-bottom{
    margin-bottom: 120px;
}
.add-top-half{
    margin-top: 60px;
}
.add-bottom-half{
    margin-bottom: 60px;
}
.add-top-quarter{
    margin-top: 30px;
}
.pad-top{
    padding-top: 100px;
}
.pad-bottom{
    padding-bottom: 100px;
}
.pad-top-half{
    padding-top: 60px;
}
.pad-bottom-half{
    padding-bottom: 60px;
}
.pad{
    padding-left: 20px;
    padding-right: 20px;
}
.pad-common{
    padding: 100px;
}
.remove-top{
    margin-top: 0;
}
.remove-bottom{
    margin-bottom: 0;
}
.remove-bottom{
    margin-bottom: 0;
}
.remove-pad-top{
    padding-top: 0;
}
.remove-pad-bottom{
    padding-bottom: 0;
}

.mob-center > .img-responsive{
    display: inline-block;
}
.no-gutter{
   padding: 0px !important;
}
.valign{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.absolute-overlay{
    position: absolute;
    top: 0;
    left: 0;
}
.sticky-foot{
    max-height: 62px;
}
.fullwidth-forced{
    width: 100% !important;
    margin-left: 0 !important;
}


/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 03 - COMMON ELEMENTS & TYPOGRAPHY */
/*-------------------------------------------------------------------------------------------------------------------------------*/

.inner-pad{
    padding: 120px;
}
.hero-heading{
    font-size: 124px;
    line-height: 136px;
    font-family:  "Raleway",  Arial,  Helvetica,  sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 8px;
}
.main-heading{
    font-size: 22px;
    line-height: 29px;
    font-family:  "Raleway", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 8px;
    margin-bottom: 30px;
}
.sub-heading{
    font-family: "Montserrat",Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 8px;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.inner-heading{
    margin-top: 20px;
}
.inner-heading > span{
    font-size: 12px;
    line-height: 22px;
    font-family:  "Raleway", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.page-head h1 > span{
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 8px;
    line-height: 41px;
    padding: 7px 7px 7px 15px;
    text-transform: uppercase;
}
.page-head p{
    margin-top: 30px;
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

/*Buttons*/
.btn-reflex{
    border-radius: 0px;
    text-decoration: none;
    padding: 12px 18px;
    font-size: 12px;
    line-height: 19px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif; font-weight:400;
    letter-spacing: 3px;
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
}
.btn-reflex-big{
    border-radius: 0px;
    text-decoration: none;
    padding: 18px 24px;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif; font-weight:400;
    letter-spacing: 3px;
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
}
.btn-reflex:hover{
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
}
.btn-reflex-white{
    border:solid 1px #fff;
    background: transparent;
    color: #fff;
}
.btn-reflex-white:hover{
    border:solid 1px #fff;
    background: #fff;
    color: #4c4c4c;
}

.btn-reflex-dark{
    border:solid 1px #4c4c4c;
    background: transparent;
    color: #4c4c4c;
}
.btn-reflex-dark:hover{
    border:solid 1px #4c4c4c;
    background: #4c4c4c;
    color: #fff;
}

.btn-reflex-color{
    background: transparent;
}
.btn-reflex-color:hover{
    color: #fff;
}


/*TOP HEADER*/
.top-header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 101;
    min-height: 60px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.top-header-left, .top-header-right{
    padding: 20px 0 17px 0;
}
.top-header h3{
    font-family: "Montserrat",Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 8px;
    line-height: 24px;
    text-transform: uppercase;
}

/*MASTER FOOTER*/

.master-footer{
}
.master-footer-left, .master-footer-right{
    padding: 100px;
}
.footer-bg{
}

/*PAGE HEADER*/
.page-head{
    margin-top: 60px;
}
.page-head-bg{
    background: url('http://placehold.it/1500x1000.jpg') no-repeat center center; 
    background-size: cover;
}


/*------------------------------------------------------------------*/
/* 04 - MAIN PAGES & SECTIONS */
/*-------------------------------------------------------------------*/


/*HOME - Slider Revolution*/

.tp-leftarrow{
    left: 140px !important;
}
.tp-bullets{
    left: 55% !important;
}
.absolute-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
}
.sr-caps h1{
    font-family: 'Montserrat', sans-serif; font-weight:700;
    text-transform: uppercase;
    font-size: 200px;
    line-height: 207px;
}

.sr-caps h5{
    margin-top: 20px;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif; font-weight:300;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 31px;
}

.sr-caps h5 > span{
    padding: 15px;
    font-size: 20px;
    line-height: 27px;
    border:solid 2px #fff;
}
.sr-caps  h2{
    font-size: 84px;
    line-height: 91px;
    margin-top: 20px;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif; font-weight:400;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.sr-caps h6.minimal > span{
    padding: 20px;
}
.sr-caps h6.minimal.dark > span{
    border:solid 2px #2D2D2D;
}
.sr-caps h6.minimal.white > span{
    border:solid 2px #fff;
}
.sr-caps h6.minimal{
    margin-top: 20px;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif; font-weight:300;
    text-transform: uppercase;
    font-size: 32px;
    line-height: 39px;
}
.sr-caps h6{
    margin-top: 20px;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif; font-weight:300;
    text-transform: uppercase;
    font-size: 32px;
    line-height: 39px;
}
.sr-caps h6.dark > span{
    border-top:solid 2px #2D2D2D;
}
.sr-caps h6.white > span{
    border-top:solid 2px #fff;
}
.sr-caps h6 > span{
    padding-top: 20px;
}


/*WORKS MASONRY*/
.works-grid{
            width: 100%; 
            position: relative;
            font-size: 25px;
            font-family: 'Helvetica';
            color: #eaeaea;
        }
        .works-grid .box {
            float: left;
            position: relative;
            text-align: center;
        }
       .works-grid .box a{
            opacity: 0;
            display: block;
            width: 100%;
            height: 100%;
            padding: 10px;
            -webkit-transition: all .4s ease-in-out;
               -moz-transition: all .4s ease-in-out;
                -ms-transition: all .4s ease-in-out;
                 -o-transition: all .4s ease-in-out;
                    transition: all .4s ease-in-out;
        }
        .works-grid .box a:hover{
            opacity:1;
            -webkit-transition: all .4s ease-in-out;
               -moz-transition: all .4s ease-in-out;
                -ms-transition: all .4s ease-in-out;
                 -o-transition: all .4s ease-in-out;
                    transition: all .4s ease-in-out;
        }
        .works-grid .box h3{ 
            font-family: "Raleway",Arial,Helvetica,sans-serif;
            font-size: 20px;
            font-weight: 300;
            letter-spacing: 8px;
            line-height: 27px;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
        .works-grid .box p > span{  
            font-family: "Montserrat",Arial,Helvetica,sans-serif;
            font-size: 10px;
            font-weight: 300;
            letter-spacing: 8px;
            line-height: 20px;
            padding: 7px;
            padding-left: 15px;
            text-transform: uppercase;
        }
        .boxup{

        }
        #fillers{
            display: none;
        }
        .fillerBox {
            float: left;
            position: relative;
        }
.novamason{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.works-filter{
    list-style: none;
    padding: 0;
    margin-top: 30px;
}
.works-filter li{
    display: inline-block;
    -webkit-transition: all .8s ease-in-out;
       -moz-transition: all .8s ease-in-out;
        -ms-transition: all .8s ease-in-out;
         -o-transition: all .8s ease-in-out;
            transition: all .8s ease-in-out;
}
.works-filter li a > span{
    font-family: "Raleway",sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 8px;
    line-height: 22px;
    text-transform: uppercase;
    padding: 5px;
}
.works-filter li:hover{
    cursor: pointer;
    opacity: 0.4;
    -webkit-transition: all .8s ease-in-out;
       -moz-transition: all .8s ease-in-out;
        -ms-transition: all .8s ease-in-out;
         -o-transition: all .8s ease-in-out;
            transition: all .8s ease-in-out;
}
.works-filter li:after{
    content: "/";
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 200;
    line-height: 23px;
    margin-left: 10px;
    margin-right: 10px;
}
.works-filter li a.active > span{
    background: #fff;
    color: #000;
    padding-left: 16px;
}
.works-filter li:last-child:after{
    display: none;
}
.novamason{
    opacity: 1;
    -webkit-transition: all .8s ease-in-out;
       -moz-transition: all .8s ease-in-out;
        -ms-transition: all .8s ease-in-out;
         -o-transition: all .8s ease-in-out;
            transition: all .8s ease-in-out;
}
.fade-out{
    opacity: 0.1 !important;
    -webkit-transition: all .8s ease-in-out;
       -moz-transition: all .8s ease-in-out;
        -ms-transition: all .8s ease-in-out;
         -o-transition: all .8s ease-in-out;
            transition: all .8s ease-in-out;
}
.fade-out > a{
    display: none;
}



/*AGENCY*/

.about-bg{
    height: 100%;
    background: url('../images/about.jpg') no-repeat center center; 
    background-size: cover;
}
.service-item{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.service-item a{
    display: block;
}
.testimonial-wrap > img{
    border-radius: 50%;
}
.testimonial-wrap > h6 {
    font-family: 'Raleway',sans-serif;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 4px;
    line-height: 19px;
    margin: 20px 0;
    text-transform: uppercase;
}
.testimonial-wrap > p {
    margin-top: 20px;
}
.service-details-switcher{
    list-style: none;
    padding: 0;
}
.service-details{
    display: none;
}

.service-details:first-child{
    display: block;
}
.service-item{
    padding: 50px 0 !important;
}
.service-carousel-item{
    padding: 100px 0;
}

.service-carousel-item > .triangle-arrow-up{
    display: none;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 20px 20px 20px;
    border-color: transparent transparent #1c1c1e transparent;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -20px;
}
.active-service{
    display: block !important;
}
.team-info{
    padding: 0 60px;
}
.team-social{
    margin-top: 20px;
}
.team-social > span{
    width: 50%;
    border-top: solid 1px #1c1c1e;
    padding-top: 20px;
    display: inline-block;
}
.team-social img{
    opacity: 1;
    -webkit-transition: all .4s linear;
       -moz-transition: all .4s linear;
        -ms-transition: all .4s linear;
         -o-transition: all .4s linear;
            transition: all .4s linear;
}
.team-social img:hover{
    opacity: 0.4;
    -webkit-transition: all .4s linear;
       -moz-transition: all .4s linear;
        -ms-transition: all .4s linear;
         -o-transition: all .4s linear;
            transition: all .4s linear;
}


.team-info > .triangle-arrow-right{
    width: 0;
height: 0;
border-style: solid;
border-width: 15px 26.0px 15px 0;
border-color: transparent #fff transparent transparent;
position: absolute;
    bottom: 0;
    left: -26px;
    top: 50%;
    margin-top: -15px;
}
.team-info > .triangle-arrow-left{
    width: 0;
height: 0;
border-style: solid;
border-width: 15px 0 15px 26.0px;
border-color: transparent transparent transparent #fff;
position: absolute;
    bottom: 0;
    right: -26px;
    top: 50%;
    margin-top: -15px;
}
.triangle-arrow{
    z-index: 50;
}
.team-info h6{
    margin-bottom: 20px;
}
.team-info h6 > span{
    padding: 6px;
    border: solid 1px;
    font-size: 10px;
    line-height: 17px;
}


/* NEWS*/
.news-container{
    padding: 0;
}
.news-item {
  margin: 0;
}
.news-item-one-third {
    width: 33.3% !important;
}
.news-item-one-half {
    width: 50% !important;
}
.news-item-two-third {
    width: 66.6% !important;
}

 .news-image{
    padding: 0;
 }
 .news-item-inner{
    padding: 60px;
 }
        .news-item h1{ 
            font-family: "Raleway",Arial,Helvetica,sans-serif;
            font-size: 24px;
            font-weight: 300;
            letter-spacing: 6px;
            line-height: 32px;
            text-transform: uppercase;
            margin-top: 20px;
            margin-bottom: 10px;
        }
        .news-item h3{ 
            font-family: "Raleway",Arial,Helvetica,sans-serif;
            font-size: 14px;
            font-weight: 300;
            letter-spacing: 4px;
            line-height: 21px;
            text-transform: uppercase;
            margin-top: 20px;
            margin-bottom: 10px;
        }
        .news-item p > span{  
            font-family: "Montserrat",Arial,Helvetica,sans-serif;
            font-size: 10px;
            font-weight: 300;
            letter-spacing: 8px;
            line-height: 20px;
            padding: 7px;
            padding-left: 15px;
            text-transform: uppercase;
        }



/* WORKS*/
.works-container{
    padding: 0;
}
.works-item {
  margin: 0 !important;
  padding: 0 !important;
  width: 33.3% !important;
  background-color: #121212;
}
       .works-item a{
            opacity: 0;
            display: block;
            width: 100%;
            height: 100%;
            padding: 10px;
            position: absolute;
            top: 0;
            z-index: 100;
            text-align: center;
            -webkit-transition: all .4s ease-in-out;
               -moz-transition: all .4s ease-in-out;
                -ms-transition: all .4s ease-in-out;
                 -o-transition: all .4s ease-in-out;
                    transition: all .4s ease-in-out;
        }
        .works-item a:hover{
            opacity:1;
            -webkit-transition: all .4s ease-in-out;
               -moz-transition: all .4s ease-in-out;
                -ms-transition: all .4s ease-in-out;
                 -o-transition: all .4s ease-in-out;
                    transition: all .4s ease-in-out;
        }
        .info a:hover{
            cursor: url("../images/plus.png") 40 40, crosshair;
            -webkit-transition: all .4s ease-in-out;
               -moz-transition: all .4s ease-in-out;
                -ms-transition: all .4s ease-in-out;
                 -o-transition: all .4s ease-in-out;
                    transition: all .4s ease-in-out;
        }
        .zoom a:hover{
            cursor: url("../images/zoom.png") 40 40, crosshair;
            -webkit-transition: all .4s ease-in-out;
               -moz-transition: all .4s ease-in-out;
                -ms-transition: all .4s ease-in-out;
                 -o-transition: all .4s ease-in-out;
                    transition: all .4s ease-in-out;
        }
        .works-item-inner{
            text-align: center;
        }
        .works-item-inner h3{ 
            font-size: 16px;
            font-weight: 300;
            letter-spacing: 4px;
            line-height: 23px;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
        .works-item-inner p > span{  
            font-size: 18px;
            font-weight: 200;
            line-height: 25px;
            padding: 7px;
            font-style: italic;
        }

/*CREDITS*/
.credits-ticker{
    text-align: center;
    margin: 0;
}
.credits-ticker ul{
    list-style: none;
}
.credits-ticker h3{
    font-family: "Montserrat",Arial,Helvetica,sans-serif;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 8px;
    line-height: 31px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.credits-ticker h6{
            font-family: "Raleway",Arial,Helvetica,sans-serif;
            font-size: 12px;
            font-weight: 300;
            letter-spacing: 4px;
            line-height: 19px;
            text-transform: uppercase;
}
.credit-ticker .social-wrap{
    margin-top: 0;
}


/*CLIENTS*/
.clients-container{
    padding: 100px;
}
.client-logo{
}
.client-logo-inner{
    opacity: 0.3;
    border-right:solid 2px #ccc;
    border-bottom:solid 2px #ccc;
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
}
.client-logo-inner:hover{
    opacity: 1;
    border-right:solid 2px #eee;
    border-bottom:solid 2px #eee;
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
}

.client-logo:last-child .client-logo-inner{
    border-right:none;
}
.client-logo-row:last-child .client-logo-inner{
    border-bottom:none;
}



/*AWARDS*/
.awards-container{
    padding: 100px;
}
.awards-item{
    border-right: solid 1px #ccc;
    padding: 60px;
    opacity: 0.5;
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
}
.awards-item:hover{
    opacity: 1;
    border-right: solid 1px #eee;
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
}
.owl-item:last-child .awards-item{
    border-right: none;
}
.awards-item h3{
    font-family: "Montserrat",Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.awards-item h1{
    margin-top: 0px;
}
.awards-item h1 > span{
    font-family: "Montserrat",Arial,Helvetica,sans-serif;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0px;
    line-height: 31px;
    text-transform: uppercase;
    border-top: solid 1px #000;
    padding-top: 10px;
}

/*SINGLE-PROJECT*/
.single-project-content-inner{
    padding: 80px 40px;
}
.single-project-slider-wrap{
    margin-bottom: 30px;
}
.single-project-block a > .zoom-icon-wrap{
    position: absolute;
    background:  url('../images/zoom.png') center center no-repeat;
    top: 0;
    width:  92%;
    height: 100%;
}

.zoom-icon-wrap{
    opacity: 0;
}
.single-project-block a:hover > img{
    opacity: 0.2;
}
.single-project-block a:hover > .zoom-icon-wrap{
    opacity: 1;
}

/*CONTACT*/
.contact-container{
}

.contact{
}
.contact-form{
    display: none;
}
/*contact form*/

.email-wrap{
    padding-top: 20px;
}
.contact-mail{
    font-size: 18px;
    line-height: 25px;
    font-family: 'Open Sans', sans-serif; font-weight:300;
    color: #fff;
}
.contact-form-wrap{
    display: none;
    padding-top: 30px;
}
.contact-item{
    padding: 0px;
}
.address-heading{
    padding: 0px;
    margin-bottom: 0;
    font-family: 'Raleway',sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 6px;
    line-height: 21px;
    text-transform: uppercase;
}
.email-heading{
    font-family: 'Montserrat',sans-serif;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 27px;
    margin-bottom: 0;
    padding: 0;
}
input {
    background: transparent !important;
    border: none !important;
    border-bottom: 1px solid !important;
    border-radius: 0px !important;
    box-shadow: none !important;
    color: #444 !important;
    font-family: 'Raleway',sans-serif !important;
    font-size: 14px !important;
    font-weight: 300 !important;
    line-height: 25px !important;
    height: 50px !important;
    margin-bottom: 10px !important;
    padding: 10px !important;
    width: 100%;
    -webkit-transition: all .8s linear;
       -moz-transition: all .8s linear;
        -ms-transition: all .8s linear;
         -o-transition: all .8s linear;
            transition: all .8s linear;
}
input:focus, textarea:focus {
    border-bottom: none !important;
    color: #444 !important;
    background: #f2f2f2 !important;
    -webkit-transition: all .8s linear;
       -moz-transition: all .8s linear;
        -ms-transition: all .8s linear;
         -o-transition: all .8s linear;
            transition: all .8s linear;
}
textarea {
    background: transparent !important;
    border: none !important;
    border-bottom: 1px solid !important;
    border-radius: 0px !important;
    box-shadow: none !important;
    color: #444 !important;
    font-family: 'Raleway',sans-serif !important;
    font-size: 14px !important;
    font-weight: 300 !important;
    line-height: 25px !important;
    margin-top: 0;
    padding: 10px !important;
    resize: none;
    width: 100%;
    -webkit-transition: all .8s linear;
       -moz-transition: all .8s linear;
        -ms-transition: all .8s linear;
         -o-transition: all .8s linear;
            transition: all .8s linear;
}
input.send_message {
    background: none repeat scroll 0 0 #EF4A4A;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    width: 120px;
}
input.send_message:hover {
    background: none repeat scroll 0 0 #262932;
}
fieldset {
    border: 0 none;
    float: left;
    padding: 0;
    position: relative;
    width: 100%;
}
fieldset h1 {
    color: #000000;
    font-size: 24px;
}
.contact-label-box {
    color: #222;
    font-family: 'Open Sans', sans-serif; font-weight:300;
    font-size: 24px;
    line-height: 31px;
    padding: 30px 20px;
    text-align: center;
}
.contact-label-box > span {
    display: block;
    margin-right: 10px;
}
.contact-label-box > span > img {
    height: 60px;
    width: 60px;
}
.contact-label-box a:hover {
    color: #CCCCCC;
    text-decoration: none;
}
.contact .alert{
    box-shadow: none;
    border:none;
    border-radius: 0;
    text-shadow:none;
    font-size: 12px;
    line-height: 19px;
        font-family: 'Open Sans', sans-serif; font-weight:300;
    margin-bottom:10px;
    padding:10px;
    background:#000;
    color: #fff;
    text-align: left;
}
.btn-wrap{
    margin-top: 60px;
}
.space-left{
    margin-left: 1%;
}


.alert{
    margin-top: 0px;
    border-radius: 0px;
    padding: 0px;
    -webkit-transition: all .8s linear;
       -moz-transition: all .8s linear;
        -ms-transition: all .8s linear;
         -o-transition: all .8s linear;
            transition: all .8s linear;
}

.alert > p{
    padding: 5px;
    text-shadow:none;
    font-size: 14px;
    line-height: 21px;
        font-family: 'Open Sans', sans-serif; font-weight:300;
}


/*NEWS POST*/
.news-post-content .news-post-img{
    margin-bottom: 40px;
}
.news-post-inner h2{
    font-size: 36px;
    line-height: 48px;
    font-family:  "Raleway", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 4px;

}
/*ERROR PAGE*/
.error-content-inner h2{
    font-size: 72px;
    line-height: 86px;
    font-family:  "Raleway", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 4px;

}

/*FOOTER*/
.master-footer h3{
    font-size: 22px;
    line-height: 29px;
    font-family:  "Raleway", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 8px;
    margin-bottom: 30px;
}
.footer-column{
    padding: 100px;
}
.foot-links{
    list-style: none;
    padding: 0;
}
.foot-links li > a >span{
    margin: 5px 0;
    border-bottom: solid 1px #ccc;
}
.foot-links li > a > span{
    display: block;
    font-family: "Raleway",Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 8px;
    line-height: 12px;
    text-transform: uppercase;
    padding: 10px 0;
    -webkit-transition: all .8s linear;
       -moz-transition: all .8s linear;
        -ms-transition: all .8s linear;
         -o-transition: all .8s linear;
            transition: all .8s linear;
}

.foot-links li > a:hover > span{
    opacity: 0.5;
    -webkit-transition: all .8s linear;
       -moz-transition: all .8s linear;
        -ms-transition: all .8s linear;
         -o-transition: all .8s linear;
            transition: all .8s linear;
}

.twitter-handle{
    font-size: 24px;
    line-height: 31px;
    font-family:  "Open Sans", sans-serif;
    font-weight: 600;
}
.copyright-text{
    margin-top: 15px;
    font-size: 12px;
}

#gmap_canvas img{
    float: right;
    z-index: -1;
    max-width: none !important;
    background: none !important;
    max-width: 50%;
}

#gmap_canvas{
    width:50%;
}
.client-logo{
    height: 200px;
    padding-bottom: 100px;

}
.img-responsive-client{
    width: 65%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

