
/*INNER PARALLAX SECTIONS (Except Intro Parallax)*/

.no-parallax{
	background-attachment: scroll !important;
}

.testimonial{
	background: url('src="http://placehold.it/1500x1000.jpg') 0 0 no-repeat fixed;
	background-size: cover;
}
.about-head{
	background: url('../images/about-bg.jpg') 0 0 no-repeat fixed;
	background-size: cover;
}
.service-head{
	background: url('../images/service.jpg') 0 0 no-repeat fixed;
	background-size: cover;
}
.works1-head{
	background: url('../images/works.jpg') 0 0 no-repeat fixed;
	background-size: cover;
}
.works2-head{
	background: url('../images/works.jpg') 0 0 no-repeat fixed;
	background-size: cover;
}
.clients-head{
	background: url('../images/client.jpg') 0 0 no-repeat fixed;
	background-size: cover;
}
.awards-head{
	background: url('src="http://placehold.it/1500x1000.jpg') 0 0 no-repeat fixed;
	background-size: cover;
}
.contact-head{
	background: url("../images/contact.jpg") 0 0 no-repeat fixed;
	background-size: cover;
}


